In [57]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:3 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:4 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [58]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [59]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) 
spark

In [61]:
!wget https://raw.githubusercontent.com/amit2001cse/Dataset-1/main/Mall_Customers.csv
df = spark.read.csv('/content/Mall_Customers.csv', header=True)
df.show(5)

--2022-09-13 07:49:08--  https://raw.githubusercontent.com/amit2001cse/Dataset-1/main/Mall_Customers.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3979 (3.9K) [text/plain]
Saving to: ‘Mall_Customers.csv.9’

Mall_Customers.csv. 100%[===================>]   3.89K  --.-KB/s    in 0s

2022-09-13 07:49:08 (51.3 MB/s) - ‘Mall_Customers.csv.9’ saved [3979/3979]

+----------+------+---+------------------+----------------------+
|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
+----------+------+---+------------------+----------------------+
only showing top 5 rows

In [62]:
from pyspark.sql.types import *
df.columns
# Creating a list of the schema in the format column_name, data_type
labels = [
    ('CustomerId',IntegerType()),
    ('Gender',StringType()),
    ('Age',IntegerType()),
    ('Annual Income (k$)',IntegerType()),
    ('Spending Score (1-100)',IntegerType())
]
# Creating the schema that will be passed when reading the csv
schema = StructType([StructField (x[0], x[1], True) for x in labels])
schema

StructType(List(StructField(CustomerId,IntegerType,true),StructField(Gender,StringType,true),StructField(Age,IntegerType,true),StructField(Annual Income (k$),IntegerType,true),StructField(Spending Score (1-100),IntegerType,true)))

In [63]:
df = spark.read.csv('Mall_Customers.csv', header=True,  schema = schema)
df.show(5)

+----------+------+---+------------------+----------------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
+----------+------+---+------------------+----------------------+
only showing top 5 rows

In [64]:
print(df.CustomerId)
print("*"*20)
df.select(df.CustomerId).show(truncate=False)

Column<'CustomerId'>
********************
+----------+
|CustomerId|
+----------+
|1         |
|2         |
|3         |
|4         |
|5         |
|6         |
|7         |
|8         |
|9         |
|10        |
|11        |
|12        |
|13        |
|14        |
|15        |
|16        |
|17        |
|18        |
|19        |
|20        |
+----------+
only showing top 20 rows

In [65]:
print(df['CustomerId'])
print("*"*20)
df.select(df['CustomerId']).show(truncate=False)

# 3rd method
# Column name is case insensitive here
from pyspark.sql.functions import col
df.select(col('CustomerId')).show(truncate=False)

Column<'CustomerId'>
********************
+----------+
|CustomerId|
+----------+
|1         |
|2         |
|3         |
|4         |
|5         |
|6         |
|7         |
|8         |
|9         |
|10        |
|11        |
|12        |
|13        |
|14        |
|15        |
|16        |
|17        |
|18        |
|19        |
|20        |
+----------+
only showing top 20 rows

+----------+
|CustomerId|
+----------+
|1         |
|2         |
|3         |
|4         |
|5         |
|6         |
|7         |
|8         |
|9         |
|10        |
|11        |
|12        |
|13        |
|14        |
|15        |
|16        |
|17        |
|18        |
|19        |
|20        |
+----------+
only showing top 20 rows

In [66]:
print(df.CustomerId, df.Gender)
print("*"*40)
df.select(df.CustomerId, df.Gender).show(truncate=False)
#Anoter Way
print(df['CustomerId'],df['Gender'])
print("*"*40)
df.select(df['CustomerId'],df['Gender']).show(truncate=False)
#Another Way
from pyspark.sql.functions import col
df.select(col('CustomerId'),col('Gender')).show(truncate=False)

Column<'CustomerId'> Column<'Gender'>
****************************************
+----------+------+
|CustomerId|Gender|
+----------+------+
|1         |Male  |
|2         |Male  |
|3         |Female|
|4         |Female|
|5         |Female|
|6         |Female|
|7         |Female|
|8         |Female|
|9         |Male  |
|10        |Female|
|11        |Male  |
|12        |Female|
|13        |Female|
|14        |Female|
|15        |Male  |
|16        |Male  |
|17        |Female|
|18        |Male  |
|19        |Male  |
|20        |Female|
+----------+------+
only showing top 20 rows

Column<'CustomerId'> Column<'Gender'>
****************************************
+----------+------+
|CustomerId|Gender|
+----------+------+
|1         |Male  |
|2         |Male  |
|3         |Female|
|4         |Female|
|5         |Female|
|6         |Female|
|7         |Female|
|8         |Female|
|9         |Male  |
|10        |Female|
|11        |Male  |
|12        |Female|
|13        |Female|
|14        |Female|
|15        |Male  |
|16        |Male  |
|17        |Female|
|18        |Male  |
|19        |Male  |
|20        |Female|
+----------+------+
only showing top 20 rows

+----------+------+
|CustomerId|Gender|
+----------+------+
|1         |Male  |
|2         |Male  |
|3         |Female|
|4         |Female|
|5         |Female|
|6         |Female|
|7         |Female|
|8         |Female|
|9         |Male  |
|10        |Female|
|11        |Male  |
|12        |Female|
|13        |Female|
|14        |Female|
|15        |Male  |
|16        |Male  |
|17        |Female|
|18        |Male  |
|19        |Male  |
|20        |Female|
+----------+------+
only showing top 20 rows

In [67]:
from pyspark.sql.functions import lit
df = df.withColumn('first_column',lit(1))

df.show(5,truncate=False)

+----------+------+---+------------------+----------------------+------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|first_column|
+----------+------+---+------------------+----------------------+------------+
|1         |Male  |19 |15                |39                    |1           |
|2         |Male  |21 |15                |81                    |1           |
|3         |Female|20 |16                |6                     |1           |
|4         |Female|23 |16                |77                    |1           |
|5         |Female|31 |17                |40                    |1           |
+----------+------+---+------------------+----------------------+------------+
only showing top 5 rows

In [68]:
df = df.withColumn('second_column', lit(2)) \
      .withColumn('third_column', lit('Third Column'))
df.show(5,truncate=False)

+----------+------+---+------------------+----------------------+------------+-------------+------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|first_column|second_column|third_column|
+----------+------+---+------------------+----------------------+------------+-------------+------------+
|1         |Male  |19 |15                |39                    |1           |2            |Third Column|
|2         |Male  |21 |15                |81                    |1           |2            |Third Column|
|3         |Female|20 |16                |6                     |1           |2            |Third Column|
|4         |Female|23 |16                |77                    |1           |2            |Third Column|
|5         |Female|31 |17                |40                    |1           |2            |Third Column|
+----------+------+---+------------------+----------------------+------------+-------------+------------+
only showing top 5 rows

In [69]:
from pyspark.sql.functions import concat
df = df.withColumn('CustomerId_Age', concat(col("CustomerId"), lit(" "), col("Age")))

df.show(5,truncate=False)

+----------+------+---+------------------+----------------------+------------+-------------+------------+--------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|first_column|second_column|third_column|CustomerId_Age|
+----------+------+---+------------------+----------------------+------------+-------------+------------+--------------+
|1         |Male  |19 |15                |39                    |1           |2            |Third Column|1 19          |
|2         |Male  |21 |15                |81                    |1           |2            |Third Column|2 21          |
|3         |Female|20 |16                |6                     |1           |2            |Third Column|3 20          |
|4         |Female|23 |16                |77                    |1           |2            |Third Column|4 23          |
|5         |Female|31 |17                |40                    |1           |2            |Third Column|5 31          |
+----------+------+---+------------------+----------------------+------------+-------------+------------+--------------+
only showing top 5 rows

In [70]:
#Renaming a column in PySpark
df = df.withColumnRenamed('first_column', 'new_column_one') \
      .withColumnRenamed('second_column', 'new_column_two') \
      .withColumnRenamed('third_column', 'new_column_three')
df.show(truncate=False)

+----------+------+---+------------------+----------------------+--------------+--------------+----------------+--------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|new_column_one|new_column_two|new_column_three|CustomerId_Age|
+----------+------+---+------------------+----------------------+--------------+--------------+----------------+--------------+
|1         |Male  |19 |15                |39                    |1             |2             |Third Column    |1 19          |
|2         |Male  |21 |15                |81                    |1             |2             |Third Column    |2 21          |
|3         |Female|20 |16                |6                     |1             |2             |Third Column    |3 20          |
|4         |Female|23 |16                |77                    |1             |2             |Third Column    |4 23          |
|5         |Female|31 |17                |40                    |1             |2             |Third Column    |5 31          |
|6         |Female|22 |17                |76                    |1             |2             |Third Column    |6 22          |
|7         |Female|35 |18                |6                     |1             |2             |Third Column    |7 35          |
|8         |Female|23 |18                |94                    |1             |2             |Third Column    |8 23          |
|9         |Male  |64 |19                |3                     |1             |2             |Third Column    |9 64          |
|10        |Female|30 |19                |72                    |1             |2             |Third Column    |10 30         |
|11        |Male  |67 |19                |14                    |1             |2             |Third Column    |11 67         |
|12        |Female|35 |19                |99                    |1             |2             |Third Column    |12 35         |
|13        |Female|58 |20                |15                    |1             |2             |Third Column    |13 58         |
|14        |Female|24 |20                |77                    |1             |2             |Third Column    |14 24         |
|15        |Male  |37 |20                |13                    |1             |2             |Third Column    |15 37         |
|16        |Male  |22 |20                |79                    |1             |2             |Third Column    |16 22         |
|17        |Female|35 |21                |35                    |1             |2             |Third Column    |17 35         |
|18        |Male  |20 |21                |66                    |1             |2             |Third Column    |18 20         |
|19        |Male  |52 |23                |29                    |1             |2             |Third Column    |19 52         |
|20        |Female|35 |23                |98                    |1             |2             |Third Column    |20 35         |
+----------+------+---+------------------+----------------------+--------------+--------------+----------------+--------------+
only showing top 20 rows

In [71]:
#Remove columns in PySpark
df = df.drop('new_column_one')
df.show(5,truncate=False)

#Remove multiple columnss in one go
df = df.drop('new_column_two') \
      .drop('new_column_three')
df.show(5,truncate=False)

+----------+------+---+------------------+----------------------+--------------+----------------+--------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|new_column_two|new_column_three|CustomerId_Age|
+----------+------+---+------------------+----------------------+--------------+----------------+--------------+
|1         |Male  |19 |15                |39                    |2             |Third Column    |1 19          |
|2         |Male  |21 |15                |81                    |2             |Third Column    |2 21          |
|3         |Female|20 |16                |6                     |2             |Third Column    |3 20          |
|4         |Female|23 |16                |77                    |2             |Third Column    |4 23          |
|5         |Female|31 |17                |40                    |2             |Third Column    |5 31          |
+----------+------+---+------------------+----------------------+--------------+----------------+--------------+
only showing top 5 rows

+----------+------+---+------------------+----------------------+--------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|CustomerId_Age|
+----------+------+---+------------------+----------------------+--------------+
|1         |Male  |19 |15                |39                    |1 19          |
|2         |Male  |21 |15                |81                    |2 21          |
|3         |Female|20 |16                |6                     |3 20          |
|4         |Female|23 |16                |77                    |4 23          |
|5         |Female|31 |17                |40                    |5 31          |
+----------+------+---+------------------+----------------------+--------------+
only showing top 5 rows

In [72]:
# Filtering rows in PySpark
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count))
male_filtered_count = df.filter(col('Gender')=='Male').count()
print("Male FILTERED RECORD COUNT: " + str(male_filtered_count))
df.filter(col('Gender')=='Male').show(truncate=False)

TOTAL RECORD COUNT: 200
Male FILTERED RECORD COUNT: 88
+----------+------+---+------------------+----------------------+--------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|CustomerId_Age|
+----------+------+---+------------------+----------------------+--------------+
|1         |Male  |19 |15                |39                    |1 19          |
|2         |Male  |21 |15                |81                    |2 21          |
|9         |Male  |64 |19                |3                     |9 64          |
|11        |Male  |67 |19                |14                    |11 67         |
|15        |Male  |37 |20                |13                    |15 37         |
|16        |Male  |22 |20                |79                    |16 22         |
|18        |Male  |20 |21                |66                    |18 20         |
|19        |Male  |52 |23                |29                    |19 52         |
|21        |Male  |35 |24                |35                    |21 35         |
|22        |Male  |25 |24                |73                    |22 25         |
|24        |Male  |31 |25                |73                    |24 31         |
|26        |Male  |29 |28                |82                    |26 29         |
|28        |Male  |35 |28                |61                    |28 35         |
|31        |Male  |60 |30                |4                     |31 60         |
|33        |Male  |53 |33                |4                     |33 53         |
|34        |Male  |18 |33                |92                    |34 18         |
|42        |Male  |24 |38                |92                    |42 24         |
|43        |Male  |48 |39                |36                    |43 48         |
|52        |Male  |33 |42                |60                    |52 33         |
|54        |Male  |59 |43                |60                    |54 59         |
+----------+------+---+------------------+----------------------+--------------+
only showing top 20 rows

In [73]:
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count))
female_filtered_count = df.filter((col('Gender')=='Female') &
                                 (col('Age')==21)).count() # Two conditions added here
print("Female FILTERED RECORD COUNT: " + str(female_filtered_count))
df.filter(col('Gender')=='Female').show(truncate=False)

TOTAL RECORD COUNT: 200
Female FILTERED RECORD COUNT: 4
+----------+------+---+------------------+----------------------+--------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|CustomerId_Age|
+----------+------+---+------------------+----------------------+--------------+
|3         |Female|20 |16                |6                     |3 20          |
|4         |Female|23 |16                |77                    |4 23          |
|5         |Female|31 |17                |40                    |5 31          |
|6         |Female|22 |17                |76                    |6 22          |
|7         |Female|35 |18                |6                     |7 35          |
|8         |Female|23 |18                |94                    |8 23          |
|10        |Female|30 |19                |72                    |10 30         |
|12        |Female|35 |19                |99                    |12 35         |
|13        |Female|58 |20                |15                    |13 58         |
|14        |Female|24 |20                |77                    |14 24         |
|17        |Female|35 |21                |35                    |17 35         |
|20        |Female|35 |23                |98                    |20 35         |
|23        |Female|46 |25                |5                     |23 46         |
|25        |Female|54 |28                |14                    |25 54         |
|27        |Female|45 |28                |32                    |27 45         |
|29        |Female|40 |29                |31                    |29 40         |
|30        |Female|23 |29                |87                    |30 23         |
|32        |Female|21 |30                |73                    |32 21         |
|35        |Female|49 |33                |14                    |35 49         |
|36        |Female|21 |33                |81                    |36 21         |
+----------+------+---+------------------+----------------------+--------------+
only showing top 20 rows

In [74]:
df.select('Gender').distinct().show()

df.select('Gender','Annual Income (k$)').distinct().show()

+------+
|Gender|
+------+
|Female|
|  Male|
+------+

+------+------------------+
|Gender|Annual Income (k$)|
+------+------------------+
|Female|                47|
|Female|                20|
|Female|                99|
|Female|                65|
|Female|               101|
|Female|                74|
|  Male|                73|
|Female|                37|
|  Male|                15|
|  Male|                23|
|  Male|                71|
|  Male|                21|
|  Male|                69|
|Female|                38|
|Female|               120|
|Female|                98|
|  Male|                93|
|  Male|                33|
|Female|                76|
|Female|                97|
+------+------------------+
only showing top 20 rows

In [75]:
# By default the data will be sorted in ascending order
df.orderBy('Age').show(truncate=False)

# To change the sorting order, you can use the ascending parameter
df.orderBy('Age', ascending=False).show(truncate=False)

# Using groupBy aand orderBy together
df.groupBy("Gender").count().orderBy('count', ascending=False).show(10)

+----------+------+---+------------------+----------------------+--------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|CustomerId_Age|
+----------+------+---+------------------+----------------------+--------------+
|66        |Male  |18 |48                |59                    |66 18         |
|92        |Male  |18 |59                |41                    |92 18         |
|115       |Female|18 |65                |48                    |115 18        |
|34        |Male  |18 |33                |92                    |34 18         |
|1         |Male  |19 |15                |39                    |1 19          |
|69        |Male  |19 |48                |59                    |69 19         |
|139       |Male  |19 |74                |10                    |139 19        |
|163       |Male  |19 |81                |5                     |163 19        |
|62        |Male  |19 |46                |55                    |62 19         |
|114       |Male  |19 |64                |46                    |114 19        |
|112       |Female|19 |63                |54                    |112 19        |
|116       |Female|19 |65                |50                    |116 19        |
|40        |Female|20 |37                |75                    |40 20         |
|3         |Female|20 |16                |6                     |3 20          |
|18        |Male  |20 |21                |66                    |18 20         |
|100       |Male  |20 |61                |49                    |100 20        |
|135       |Male  |20 |73                |5                     |135 20        |
|2         |Male  |21 |15                |81                    |2 21          |
|36        |Female|21 |33                |81                    |36 21         |
|32        |Female|21 |30                |73                    |32 21         |
+----------+------+---+------------------+----------------------+--------------+
only showing top 20 rows

+----------+------+---+------------------+----------------------+--------------+
|CustomerId|Gender|Age|Annual Income (k$)|Spending Score (1-100)|CustomerId_Age|
+----------+------+---+------------------+----------------------+--------------+
|61        |Male  |70 |46                |56                    |61 70         |
|71        |Male  |70 |49                |55                    |71 70         |
|58        |Male  |69 |44                |46                    |58 69         |
|68        |Female|68 |48                |48                    |68 68         |
|109       |Male  |68 |63                |43                    |109 68        |
|91        |Female|68 |59                |55                    |91 68         |
|11        |Male  |67 |19                |14                    |11 67         |
|103       |Male  |67 |62                |59                    |103 67        |
|83        |Male  |67 |54                |41                    |83 67         |
|63        |Female|67 |47                |52                    |63 67         |
|110       |Male  |66 |63                |48                    |110 66        |
|107       |Female|66 |63                |50                    |107 66        |
|41        |Female|65 |38                |35                    |41 65         |
|111       |Male  |65 |63                |52                    |111 65        |
|9         |Male  |64 |19                |3                     |9 64          |
|65        |Male  |63 |48                |51                    |65 63         |
|117       |Female|63 |65                |43                    |117 63        |
|31        |Male  |60 |30                |4                     |31 60         |
|73        |Female|60 |50                |49                    |73 60         |
|74        |Female|60 |50                |56                    |74 60         |
+----------+------+---+------------------+----------------------+--------------+
only showing top 20 rows

+------+-----+
|Gender|count|
+------+-----+
|Female|  112|
|  Male|   88|
+------+-----+